html, body {
    box-sizing: border-box;
    height: 90vh;

}

/* rearrange divs within container with flex-grid*/
#container {
    display: grid;

    height: 95%;
    width: 500px;	
    margin: auto;
    margin-top: 80px;
}

/* add border to each cell to make square*/
.cell {
    border: 1px solid black;
}


/* give header color and padding */
header {
    background-color: gray;
    padding-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
}

/* give footer color and padding */
footer {
    background-color: gray;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 100%
}
